<h1>New employee form:</h1>

<%= form_tag employees_path do %>
    <label>First Name:</label><br>
    <%= text_field_tag :'employee[first_name]' %><br><br>
    
    <label>Last Name:</label><br>
    <%= text_field_tag :'employee[last_name]' %><br><br>

    <label>Age:</label><br>
    <%= number_field_tag :'employee[age]' %><br><br>

    <label>Gender:</label><br>
    <%= text_field_tag :'employee[gender]' %><br><br>

    <label>Phone number:</label><br>
    <%= text_field_tag :'employee[phone_number]' %><br><br>

    <label>Email:</label><br>
    <%= email_field_tag :'employee[email_address]' %><br><br>

    <label>Occupation:</label><br>
    <%= text_field_tag :'employee[occupation]' %><br><br>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <%= submit_tag 'Submit Employee' %>
<% end %>

<%= link_to 'View employees', employees_path %>