<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
Employee Details<br><br>
<strong>Age:</strong> <%= @employee.age %><br>
<strong>Gender:</strong> <%= @employee.gender %><br>
<strong>Phone Number:</strong> <%= @employee.phone_number %><br>
<strong>Email:</strong> <%= @employee.email_address %><br>
<strong>Occupation:</strong> <%= @employee.occupation %><br>